<h3>Komentarji</h3>
<% @post.comments.each do |comment| %>
    <div class="well">
    <b><%= comment.user.try(:email) %></b><br>
    <%= comment.body %>
    <% if comment.user_id == current_user.id %>
    <div class="pull-right"><%= link_to "Izbriši", [comment.post, comment], 
                        method: :delete,
                        data: {confirm: 'Ste prepričani?'},
                        :class => 'btn btn-danger text-right' %></div>
    <% end %>
    </div>
<% end %>